<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>JobName</key>
		<string>IOS</string>
		<key>IconName</key>
		<string>1</string>
		<key>CompanyName</key>
		<string>星光互联</string>
		<key>AddressAndYear</key>
		<string>北京 1-3年 大专</string>
		<key>ScaleNumber</key>
		<string>未融资｜15-50人｜其它</string>
		<key>Salary</key>
		<string>8-14k</string>
		<key>InsueDate</key>
		<string></string>
	</dict>
	<dict>
		<key>IconName</key>
		<string>2</string>
		<key>JobName</key>
		<string>iOS</string>
		<key>CompanyName</key>
		<string>瑞恩传媒</string>
		<key>AddressAndYear</key>
		<string>北京 八里庄 3-5年 大专</string>
		<key>ScaleNumber</key>
		<string>A轮｜50-150人｜数据服务</string>
		<key>Salary</key>
		<string>8-15k</string>
		<key>InsueDate</key>
		<string></string>
	</dict>
	<dict>
		<key>IconName</key>
		<string>3</string>
		<key>JobName</key>
		<string>iOS开发工程师</string>
		<key>CompanyName</key>
		<string>国光星空</string>
		<key>AddressAndYear</key>
		<string>北京 中关村 1-3年 学历不限</string>
		<key>ScaleNumber</key>
		<string>B轮｜50-150人｜移动互联网</string>
		<key>Salary</key>
		<string>10-15k</string>
		<key>InsueDate</key>
		<string></string>
	</dict>
	<dict>
		<key>IconName</key>
		<string>4</string>
		<key>JobName</key>
		<string>iOS研发工程师</string>
		<key>CompanyName</key>
		<string>盖娅互娱</string>
		<key>AddressAndYear</key>
		<string>北京 1-3年 本科</string>
		<key>ScaleNumber</key>
		<string>上市公司｜150-500人｜移动互联网</string>
		<key>Salary</key>
		<string>7-12k</string>
		<key>InsueDate</key>
		<string></string>
	</dict>
	<dict>
		<key>IconName</key>
		<string>5</string>
		<key>JobName</key>
		<string>iOS研发工程师</string>
		<key>CompanyName</key>
		<string>盖娅互娱</string>
		<key>AddressAndYear</key>
		<string>北京 1-3年 本科</string>
		<key>ScaleNumber</key>
		<string>上市公司｜150-500人｜移动互联网</string>
		<key>Salary</key>
		<string>7-12k</string>
		<key>InsueDate</key>
		<string></string>
	</dict>
	<dict>
		<key>IconName</key>
		<string>6</string>
		<key>JobName</key>
		<string>iOS</string>
		<key>CompanyName</key>
		<string>中燕传媒</string>
		<key>AddressAndYear</key>
		<string>北京 1-3年 本科</string>
		<key>ScaleNumber</key>
		<string>上市公司｜150-500人｜移动互联网</string>
		<key>Salary</key>
		<string>7-15k</string>
		<key>InsueDate</key>
		<string></string>
	</dict>
	<dict>
		<key>IconName</key>
		<string>7</string>
		<key>JobName</key>
		<string>iOS研发工程师</string>
		<key>CompanyName</key>
		<string>幂视科技</string>
		<key>AddressAndYear</key>
		<string>北京 1-3年 本科</string>
		<key>ScaleNumber</key>
		<string>上市公司｜150-500人｜移动互联网</string>
		<key>Salary</key>
		<string>7-12k</string>
		<key>InsueDate</key>
		<string></string>
	</dict>
	<dict>
		<key>IconName</key>
		<string>8</string>
		<key>JobName</key>
		<string>iOS研发工程师</string>
		<key>CompanyName</key>
		<string>盖娅互娱</string>
		<key>AddressAndYear</key>
		<string>北京 1-3年 本科</string>
		<key>ScaleNumber</key>
		<string>上市公司｜150-500人｜移动互联网</string>
		<key>Salary</key>
		<string>7-12k</string>
		<key>InsueDate</key>
		<string></string>
	</dict>
	<dict>
		<key>IconName</key>
		<string>9</string>
		<key>JobName</key>
		<string>iOS研发工程师</string>
		<key>CompanyName</key>
		<string>盖娅互娱</string>
		<key>AddressAndYear</key>
		<string>北京 1-3年 本科</string>
		<key>ScaleNumber</key>
		<string>上市公司｜150-500人｜移动互联网</string>
		<key>Salary</key>
		<string>7-12k</string>
		<key>InsueDate</key>
		<string></string>
	</dict>
	<dict>
		<key>IconName</key>
		<string>10</string>
		<key>JobName</key>
		<string>iOS研发工程师</string>
		<key>CompanyName</key>
		<string>盖娅互娱</string>
		<key>AddressAndYear</key>
		<string>北京 1-3年 本科</string>
		<key>ScaleNumber</key>
		<string>上市公司｜150-500人｜移动互联网</string>
		<key>Salary</key>
		<string>7-12k</string>
		<key>InsueDate</key>
		<string></string>
	</dict>
	<dict>
		<key>IconName</key>
		<string>11</string>
		<key>JobName</key>
		<string>iOS研发工程师</string>
		<key>CompanyName</key>
		<string>盖娅互娱</string>
		<key>AddressAndYear</key>
		<string>北京 1-3年 本科</string>
		<key>ScaleNumber</key>
		<string>上市公司｜150-500人｜移动互联网</string>
		<key>Salary</key>
		<string>7-12k</string>
		<key>InsueDate</key>
		<string></string>
	</dict>
	<dict>
		<key>IconName</key>
		<string>12</string>
		<key>JobName</key>
		<string>iOS研发工程师</string>
		<key>CompanyName</key>
		<string>盖娅互娱</string>
		<key>AddressAndYear</key>
		<string>北京 1-3年 本科</string>
		<key>ScaleNumber</key>
		<string>上市公司｜150-500人｜移动互联网</string>
		<key>Salary</key>
		<string>7-12k</string>
		<key>InsueDate</key>
		<string></string>
	</dict>
	<dict>
		<key>IconName</key>
		<string>13</string>
		<key>JobName</key>
		<string>iOS研发工程师</string>
		<key>CompanyName</key>
		<string>盖娅互娱</string>
		<key>AddressAndYear</key>
		<string>北京 1-3年 本科</string>
		<key>ScaleNumber</key>
		<string>上市公司｜150-500人｜移动互联网</string>
		<key>Salary</key>
		<string>7-12k</string>
		<key>InsueDate</key>
		<string></string>
	</dict>
	<dict>
		<key>IconName</key>
		<string>14</string>
		<key>JobName</key>
		<string>iOS研发工程师</string>
		<key>CompanyName</key>
		<string>盖娅互娱</string>
		<key>AddressAndYear</key>
		<string>北京 1-3年 本科</string>
		<key>ScaleNumber</key>
		<string>上市公司｜150-500人｜移动互联网</string>
		<key>Salary</key>
		<string>7-12k</string>
		<key>InsueDate</key>
		<string></string>
	</dict>
	<dict>
		<key>IconName</key>
		<string>15</string>
		<key>JobName</key>
		<string>iOS研发工程师</string>
		<key>CompanyName</key>
		<string>盖娅互娱</string>
		<key>AddressAndYear</key>
		<string>北京 1-3年 本科</string>
		<key>ScaleNumber</key>
		<string>上市公司｜150-500人｜移动互联网</string>
		<key>Salary</key>
		<string>7-12k</string>
		<key>InsueDate</key>
		<string></string>
	</dict>
	<dict>
		<key>IconName</key>
		<string>1</string>
		<key>JobName</key>
		<string>iOS研发工程师</string>
		<key>CompanyName</key>
		<string>盖娅互娱</string>
		<key>AddressAndYear</key>
		<string>北京 1-3年 本科</string>
		<key>ScaleNumber</key>
		<string>上市公司｜150-500人｜移动互联网</string>
		<key>Salary</key>
		<string>7-12k</string>
		<key>InsueDate</key>
		<string></string>
	</dict>
	<dict>
		<key>IconName</key>
		<string>2</string>
		<key>JobName</key>
		<string>iOS研发工程师</string>
		<key>CompanyName</key>
		<string>盖娅互娱</string>
		<key>AddressAndYear</key>
		<string>北京 1-3年 本科</string>
		<key>ScaleNumber</key>
		<string>上市公司｜150-500人｜移动互联网</string>
		<key>Salary</key>
		<string>7-12k</string>
		<key>InsueDate</key>
		<string></string>
	</dict>
	<dict>
		<key>IconName</key>
		<string>3</string>
		<key>JobName</key>
		<string>iOS研发工程师</string>
		<key>CompanyName</key>
		<string>盖娅互娱</string>
		<key>AddressAndYear</key>
		<string>北京 1-3年 本科</string>
		<key>ScaleNumber</key>
		<string>上市公司｜150-500人｜移动互联网</string>
		<key>Salary</key>
		<string>7-12k</string>
		<key>InsueDate</key>
		<string></string>
	</dict>
</array>
</plist>
